
<h2>I'm looking to rent</h2>
<div class="form-group"> 
	<%=select_tag  "property_type", options_for_select([ "Residential Properties", "Commercial Properties"]), prompt: "Please Select a Property Type", class: "form-control", id: "select_search_type"%>
</div>

<div id= "residential_properties_search" class="container">
     <%= render "residential_properties_search"%>  
</div>

<div id= "commercial_properties_search" class="container">
     <%= render "commercial_properties_search"%>
</div>