<p id="notice"><%= notice %></p>

<h1>Residential Properties</h1>
    <%@residential_properties.each do |property|%>
    	<div>	
    		<div class="property_name">
    			<%=link_to property.property_name, residential_property_path(property)%>
    		</div>
    		<div class="property_details">
    			Monthly Amount: $<%=property.monthly_amt%>
    			Description: <%=property.description%>
    		</div>
   		</div>
    <% end %>
